.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.template

src/i18n/i18n-*.ts
!src/i18n/i18n-sk.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
test-results
